.controls {
  display: flex;
  padding: 10px;
}
button {
  flex-grow: 1;
  width: 50%;
  padding: 10px;
  margin: 10px;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border: 2px solid;
  transition-duration: 0.4s;
  cursor: pointer;
}

.reset {
  border-color: #f33326;
}
.reset:hover {
  background-color: #f44336;
  color: white;
}

.start {
  border-color: #4BAE40;
}

.start:hover {
  background-color: #4CAF50;
  color: white;
}
