.input_control {
  display: flex;
  padding: 10px;
}

.input_control label {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
}
.input_control input {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 15px;
}
